@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;

$activeBoxShadow:
  0 0 1px 0 rgba(18, 3, 62, 0.11),
  0 3px 5px 0 rgba(18, 3, 62, 0.1);

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  transition: transition(background-color);
  cursor: grab;
  box-shadow:
    0 0 1px 0 rgba(18, 3, 62, 0.1),
    0 1px 1px 0 rgba(18, 3, 62, 0.1);
  border-radius: 8px;
  background-color: $grayscale-base-color;
  padding: 11px 16px;

  &:hover {
    box-shadow: $activeBoxShadow;
    background-color: $midnight-blue-500;

    .controls {
      opacity: 1;
    }
  }

  &Editing {
    box-shadow: $activeBoxShadow;
    background-color: $midnight-blue-500;
  }
}

.input {
  @include input($text-18-400);
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.controls {
  opacity: 0;
  transition: transition(opacity);
  margin-left: auto;
}
