@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.root {
  @include icon-hover;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.icon {
  color: $grayscale-color-300;
}
