@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;

.root {
  display: flex;
  align-items: center;
  gap: 12px;
  opacity: 0.5;
  cursor: grab;
  border-radius: 8px;
  padding: 16px;
  color: $blue-dark-typography;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  font-family: Inter, sans-serif;

  &:hover {
    .controls {
      opacity: 1;
    }
  }

  &Active {
    opacity: 1;
    background: $midnight-blue-100;
  }
}

.icon {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #b3c4d6;
  width: 32px;
  height: 32px;
  color: $blue-dark-typography;
}

.input {
  @include input($text-18-600);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.controls {
  opacity: 0;
  transition: transition(opacity);
  margin-left: auto;
}
