.workspace {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #f4f7fe;
  padding: 16px;
  color: #001c39;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  font-family: Inter, sans-serif;

  input {
    flex: 1;
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    color: #001c39;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    font-family: Inter, sans-serif;

    &::placeholder {
      color: rgba(#001c39, 0.5);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #b3c4d6;
    width: 32px;
    height: 32px;
    color: #001c39;
  }
}
