@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;

.root {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  cursor: pointer;
  border-radius: 16px;
  background-color: $midnight-blue-400;
  padding: 11px 8px 8px;
  width: 294px;

  &Editing {
    padding: 11px 8px;

    .header {
      padding: 0 8px;
    }
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & + .addButton {
    margin-top: 8px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 8px 11px;

  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.input {
  @include input($text-18-600);
}

.name {
  margin: 0;
  color: $blue-dark-typography;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  font-family: Inter, sans-serif;
}

.controls {
  opacity: 0;
  transition: transition(opacity);
  margin-left: auto;
}
