@use '@styles/variables' as *;
@use '@styles/functions' as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: transition(background-color);
  cursor: pointer;
  box-shadow: $workspace-button;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $grayscale-base-color;
  padding: 5px 12px;
  color: $blue-dark-typography;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  font-family: Inter, sans-serif;

  &:hover:not(&Save) {
    background-color: $grayscale-color-100;
  }

  &:focus {
    outline: none;
  }

  &Save {
    border: 1px solid $blue;
    background-color: $blue;
    color: $grayscale-base-color;

    &:hover {
      background-color: rgba($blue, 0.92);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    border: 1px solid $midnight-blue-300;
    background-color: $midnight-blue-200;
    color: $midnight-blue-700;
  }
}
